## **Loca Como Tu Madre**

In [1]:
from IPython import display

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# import seaborn as sns; sns.set()
import datetime
import nbformat
import plotly.express as px
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode (connected = True )
import plotly.graph_objs as go
import plotly.offline as py
from matplotlib.backends.backend_pdf import PdfPages
from fpdf import FPDF
pd.options.display.max_columns = None
pd.options.display.max_rows = None
import locale
import plotly.io as pio

In [3]:
# 1) git log --pretty=format:%cI,%h,%an,%ae,%s > /home/claudio/@LCTM/commits_LCTM.csv
# 2) abrir excel e e na aba dados, importar o arquivo gerado pelo código acima

In [64]:
# setar locale para português para que os dias da semana retornem em portugês no código abaixo.
locale.setlocale(locale.LC_ALL, 'pt_BR.utf-8')

# Importing each csv file and then joinning then, 
# as the files for other months are send by the client we can insert each one at the end of this code

df1 = pd.read_csv(r'/home/claudio/@LCTM/lctm001/2022_07.csv', encoding="ISO-8859-1", sep = ';')
df2 = pd.read_csv(r'/home/claudio/@LCTM/lctm001/2022_08.csv', encoding="ISO-8859-1", sep = ';')
df3 = pd.read_csv(r'/home/claudio/@LCTM/lctm001/2022_09.csv', encoding="ISO-8859-1", sep = ';')
df4 = pd.read_csv(r'/home/claudio/@LCTM/lctm001/2022_10.csv', encoding="ISO-8859-1", sep = ';')
df5 = pd.read_csv(r'/home/claudio/@LCTM/lctm001/2022_11.csv', encoding="ISO-8859-1", sep = ';')
df6 = pd.read_csv(r'/home/claudio/@LCTM/lctm001/2022_12.csv', encoding="ISO-8859-1", sep = ';')
df7 = pd.read_csv(r'/home/claudio/@LCTM/lctm001/2023_01.csv', encoding="ISO-8859-1", sep = ';')

In [119]:
transactions = pd.concat([df1, df2, df3, df4, df5, df6, df7], ignore_index=True)

In [120]:
del transactions['Vr. Desconto']
del transactions['Valor Venda']
del transactions['Tx Serviço']
del transactions["Caixa"]
del transactions['Operador']
del transactions['Data Cancelamento']
del transactions['Operador Cancelamento']
del transactions['Operador Desconto']
del transactions['Operador Desc Repique']
del transactions['NRC']
del transactions['Comandas']
del transactions['Série NFCE']
del transactions['Série NFE']
del transactions['Integração']
del transactions['Observação']
del transactions['CO_CLIENTE']
del transactions['Atendente']
del transactions['IC_REVENDA']

In [121]:
transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46472 entries, 0 to 46471
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Cod Venda         4831 non-null   float64
 1   NFe               41642 non-null  object
 2   NFCe              46470 non-null  object
 3   Data Venda        46472 non-null  object
 4   Data Recebimento  46472 non-null  object
 5   Nome Cliente      41650 non-null  object
 6   Valor Recebido    46472 non-null  object
 7   Operação          46470 non-null  object
 8   Tipo Operação     46472 non-null  object
 9   Vendedor          4830 non-null   object
dtypes: float64(1), object(9)
memory usage: 3.5+ MB

In [139]:
transactions.head(50)

,prim_col,NFe,NFCe,Data Venda,Data Recebimento,Nome Cliente,Valor Recebido,Operação,venda,Vendedor,data_venda,data_recebimento
1,981201.0,NaN,6490,30/07/2022 20:02:56,30/07/2022 22:58:00,NaN,209,1,981201,JESSICA,30/07/2022 20:02:56,30/07/2022 22:58:00
2,NaN,421,BURRATA COM JAMON E VERDE,1,49,49,30/07/2022 20:03:12,JESSICA,981201,JESSICA,30/07/2022 20:02:56,30/07/2022 22:58:00
3,NaN,41,PORÇAO NACHOS,1,15,15,30/07/2022 20:17:28,JESSICA,981201,JESSICA,30/07/2022 20:02:56,30/07/2022 22:58:00
4,NaN,97,JARRA SANGRIA LOCA SUMMER,1,55,55,30/07/2022 20:22:20,GABRIEL,981201,JESSICA,30/07/2022 20:02:56,30/07/2022 22:58:00
5,NaN,406,LULAS EMPANADAS,1,38,38,30/07/2022 21:22:51,JESSICA,981201,JESSICA,30/07/2022 20:02:56,30/07/2022 22:58:00
6,NaN,2,RISOTINHO DE CAMARÃO,1,52,52,30/07/2022 22:26:07,JESSICA,981201,JESSICA,30/07/2022 20:02:56,30/07/2022 22:58:00
7,981101.0,NaN,6489,30/07/2022 21:30:34,30/07/2022 22:23:41,NaN,"6,5",2,981101,JESSICA,30/07/2022 21:30:34,30/07/2022 22:23:41
8,NaN,111,AGUA SEM GAS,1,"6,5","6,5",30/07/2022 21:30:34,JESSICA,981101,JESSICA,30/07/2022 21:30:34,30/07/2022 22:23:41
9,981001.0,NaN,6488,30/07/2022 21:36:52,30/07/2022 21:37:14,NaN,36,3,981001,MARCIO,30/07/2022 21:36:52,30/07/2022 21:37:14
10,NaN,405,CRISPY CHICKEN BURGUER,1,36,36,30/07/2022 21:37:09,JESSICA,981001,MARCIO,30/07/2022 21:36:52,30/07/2022 21:37:14
11,980901.0,NaN,6487,29/07/2022 22:12:29,30/07/2022 00:45:12,NaN,486,3,980901,GABRIEL,29/07/2022 22:12:29,30/07/2022 00:45:12
12,NaN,53,TABUA MEXICANA,1,42,42,29/07/2022 22:12:29,GABRIEL,980901,GABRIEL,29/07/2022 22:12:29,30/07/2022 00:45:12
13,NaN,84,BOLINHO ACOSTELADO,1,32,32,29/07/2022 22:12:29,GABRIEL,980901,GABRIEL,29/07/2022 22:12:29,30/07/2022 00:45:12
14,NaN,70,ÁGUA TONICA,1,8,8,29/07/2022 22:14:25,GABRIEL,980901,GABRIEL,29/07/2022 22:12:29,30/07/2022 00:45:12
15,NaN,194,DOSE GIN BEEFEATER,1,21,21,29/07/2022 22:14:25,GABRIEL,980901,GABRIEL,29/07/2022 22:12:29,30/07/2022 00:45:12
16,NaN,403,PRAYA WITBIER 600 ML,1,18,18,29/07/2022 22:29:56,GABRIEL,980901,GABRIEL,29/07/2022 22:12:29,30/07/2022 00:45:12
17,NaN,97,JARRA SANGRIA LOCA SUMMER,1,55,55,29/07/2022 22:32:42,GABRIEL,980901,GABRIEL,29/07/2022 22:12:29,30/07/2022 00:45:12
18,NaN,8,JARRA CLERICOT,1,56,56,29/07/2022 22:44:25,GABRIEL,980901,GABRIEL,29/07/2022 22:12:29,30/07/2022 00:45:12
19,NaN,420,HEINEKEN LONG NECK,1,12,12,29/07/2022 22:44:25,GABRIEL,980901,GABRIEL,29/07/2022 22:12:29,30/07/2022 00:45:12
20,NaN,420,HEINEKEN LONG NECK,1,12,12,29/07/2022 23:18:46,GABRIEL,980901,GABRIEL,29/07/2022 22:12:29,30/07/2022 00:45:12
21,NaN,212,CASAS DEL MAIPO CHARDONNA,1,99,99,29/07/2022 23:20:10,GABRIEL,980901,GABRIEL,29/07/2022 22:12:29,30/07/2022 00:45:12
22,NaN,420,HEINEKEN LONG NECK,1,12,12,30/07/2022 00:14:02,CASSIA,980901,GABRIEL,29/07/2022 22:12:29,30/07/2022 00:45:12
23,NaN,420,HEINEKEN LONG NECK,1,12,12,30/07/2022 00:14:02,CASSIA,980901,GABRIEL,29/07/2022 22:12:29,30/07/2022 00:45:12
24,NaN,212,CASAS DEL MAIPO CHARDONNA,1,99,99,29/07/2022 22:21:59,EXTRA2,980901,GABRIEL,29/07/2022 22:12:29,30/07/2022 00:45:12
25,NaN,336,COCA COLA LT NORMAL,1,8,8,30/07/2022 00:35:12,JESSICA,980901,GABRIEL,29/07/2022 22:12:29,30/07/2022 00:45:12
26,980801.0,NaN,6486,29/07/2022 22:11:57,30/07/2022 00:25:50,NaN,239,1,980801,MARCIO,29/07/2022 22:11:57,30/07/2022 00:25:50
27,NaN,104,CHEDDAR BURGER,1,38,38,29/07/2022 22:41:44,GABRIEL,980801,MARCIO,29/07/2022 22:11:57,30/07/2022 00:25:50
28,NaN,104,CHEDDAR BURGER,1,38,38,29/07/2022 22:41:44,GABRIEL,980801,MARCIO,29/07/2022 22:11:57,30/07/2022 00:25:50
29,NaN,94,SANGRIA HP,1,24,24,29/07/2022 22:41:44,GABRIEL,980801,MARCIO,29/07/2022 22:11:57,30/07/2022 00:25:50
30,NaN,94,SANGRIA HP,1,24,24,29/07/2022 23:03:59,GABRIEL,980801,MARCIO,29/07/2022 22:11:57,30/07/2022 00:25:50
31,NaN,97,JARRA SANGRIA LOCA SUMMER,1,55,55,29/07/2022 23:17:29,GABRIEL,980801,MARCIO,29/07/2022 22:11:57,30/07/2022 00:25:50
32,NaN,94,SANGRIA HP,1,24,24,29/07/2022 23:18:57,CASSIA,980801,MARCIO,29/07/2022 22:11:57,30/07/2022 00:25:50
33,NaN,94,SANGRIA HP,1,24,24,29/07/2022 23:18:57,CASSIA,980801,MARCIO,29/07/2022 22:11:57,30/07/2022 00:25:50
34,NaN,420,HEINEKEN LONG NECK,1,12,12,29/07/2022 23:47:02,CASSIA,980801,MARCIO,29/07/2022 22:11:57,30/07/2022 00:25:50
35,980701.0,NaN,6485,29/07/2022 20:56:09,29/07/2022 23:56:41,NaN,74,10,980701,MARCIO,29/07/2022 20:56:09,29/07/2022 23:56:41
36,NaN,407,PRAYA PURO MALTE LN,1,12,12,29/07/2022 18:41:44,CASSIA,980701,MARCIO,29/07/2022 20:56:09,29/07/2022 23:56:41
37,NaN,94,SANGRIA HP,1,24,24,29/07/2022 19:17:33,CASSIA,980701,MARCIO,29/07/2022 20:56:09,29/07/2022 23:56:41
38,NaN,104,CHEDDAR BURGER,1,38,38,29/07/2022 21:12:47,GABRIEL,980701,MARCIO,29/07/2022 20:56:09,29/07/2022 23:56:41
39,980601.0,NaN,6484,29/07/2022 20:47:09,29/07/2022 23:27:12,NaN,36,55,980601,CASSIA,29/07/2022 20:47:09,29/07/2022 23:27:12
40,NaN,407,PRAYA PURO MALTE LN,1,12,12,29/07/2022 20:47:09,CASSIA,980601,CASSIA,29/07/2022 20:47:09,29/07/2022 23:27:12
41,NaN,407,PRAYA PURO MALTE LN,1,12,12,29/07/2022 21:27:30,CASSIA,980601,CASSIA,29/07/2022 20:47:09,29/07/2022 23:27:12
42,NaN,407,PRAYA PURO MALTE LN,1,12,12,29/07/2022 23:23:15,CASSIA,980601,CASSIA,29/07/2022 20:47:09,29/07/2022 23:27:12
43,980501.0,NaN,6483,29/07/2022 20:22:39,29/07/2022 23:26:54,NaN,72,53,980501,CASSIA,29/07/2022 20:22:39,29/07/2022 23:26:54
44,NaN,407,PRAYA PURO MALTE LN,1,12,12,29/07/2022 20:22:39,CASSIA,980501,CASSIA,29/07/2022 20:22:39,29/07/2022 23:26:54
45,NaN,407,PRAYA PURO MALTE LN,1,12,12,29/07/2022 20:51:18,CASSIA,980501,CASSIA,29/07/2022 20:22:39,29/07/2022 23:26:54
46,NaN,407,PRAYA PURO MALTE LN,1,12,12,29/07/2022 21:26:59,CASSIA,980501,CASSIA,29/07/2022 20:22:39,29/07/2022 23:26:54
47,NaN,407,PRAYA PURO MALTE LN,1,12,12,29/07/2022 22:05:22,CASSIA,980501,CASSIA,29/07/2022 20:22:39,29/07/2022 23:26:54
48,NaN,407,PRAYA PURO MALTE LN,1,12,12,29/07/2022 22:47:34,CASSIA,980501,CASSIA,29/07/2022 20:22:39,29/07/2022 23:26:54
49,NaN,407,PRAYA PURO MALTE LN,1,12,12,29/07/2022 23:23:00,CASSIA,980501,CASSIA,29/07/2022 20:22:39,29/07/2022 23:26:54
50,980401.0,NaN,6482,29/07/2022 20:14:08,29/07/2022 22:51:06,NaN,"289,5",5,980401,GABRIEL,29/07/2022 20:14:08,29/07/2022 22:51:06

In [123]:
# renomeei a coluna 'Tipo Operação' para 'venda'.
transactions.rename(columns = {'Tipo Operação':'venda'}, inplace = True)

In [124]:
# Pandas Drop Rows Based on Column Value
# https://sparkbyexamples.com/pandas/pandas-delete-rows-based-on-column-value/
transactions.drop(transactions[transactions['venda'] == 'CO_VENDA'].index, inplace = True)

In [125]:
# renomeei a coluna 'Cod Venda' para 'prim_col'.
transactions.rename(columns = {'Cod Venda':'prim_col'}, inplace = True)

In [126]:
# If 'prim_col' value is not empty, set the value of column 'venda' to the value of column 'prim_col', else value of column 'venda' stays the same
transactions['venda'] = transactions.apply(lambda row: row['prim_col'] if row['venda'] == 'LOCA' else row['venda'], axis=1)

# If 'prim_col' value is not empty, set the value of column 'venda' to the value of column 'prim_col', else value of column 'venda' stays the same
transactions['venda'] = transactions.apply(lambda row: row['prim_col'] if row['venda'] == 'Balcao' else row['venda'], axis=1)

# Vamos analisar cada parte dessa linha:
#transactions['venda']: Estamos nos referindo à coluna 'venda' do DataFrame transactions.
# Essa coluna será atualizada com base no resultado da operação que será realizada a seguir.
#transactions.apply(...): O método apply() é usado para aplicar uma função a todas as linhas 
# (ou colunas) de um DataFrame. Neste caso, a função está sendo aplicada às linhas, conforme
# especificado pelo argumento axis=1.
#lambda row: ...: Estamos usando uma função lambda, que é uma função anônima e de uso único.
# Essa função aceita um argumento chamado row, que representa uma linha do DataFrame transactions.
#row['prim_col'] if row['venda'] == 'LOCA' else row['venda']: Esta é a lógica da função lambda.
# Estamos usando uma expressão condicional para verificar se o valor da coluna 'venda' na
# linha atual (row['venda']) é igual a 'LOCA'. Se for verdade, o valor da coluna 'prim_col'
# na mesma linha (row['prim_col']) será usado como resultado. Caso contrário, o próprio valor da coluna 'venda' será mantido.

In [127]:
# Função para verificar se o valor é uma string e contém apenas letras, testando se o código da celula anterior funcionou
def is_string_with_letters(value):
    return isinstance(value, str) and value.isalpha()

# Aplicando o filtro para manter apenas as linhas onde o valor da coluna 'venda' é uma string e contém apenas letras
filtered_transactions = transactions[transactions['venda'].apply(is_string_with_letters)]

# filtered_transactions

In [128]:
# Função para verificar se o valor é uma data
def is_date(value):
    try:
        pd.to_datetime(value)
        return True
    except ValueError:
        return False

# Função para aplicar à coluna
def copy_date_or_set_nd(value):
    return value if is_date(value) else 'nd'

In [129]:
# Criar a nova coluna 'data_venda' aplicando a função copy_date_or_set_nd
transactions['data_venda'] = transactions['Data Venda'].apply(copy_date_or_set_nd)

In [130]:
# Criar a nova coluna 'data_recebimento' aplicando a função copy_date_or_set_nd
transactions['data_recebimento'] = transactions['Data Recebimento'].apply(copy_date_or_set_nd)

In [131]:
# Convert the "venda" variable from object type to integer type
transactions['venda'] = np.int64(transactions['venda'])

In [132]:
# Agrupar o DataFrame pela coluna 'venda'
grouped = transactions.groupby('venda')

# Para cada grupo, encontrar a primeira data na coluna "data_venda" e atualizar todas as linhas do grupo
for group_name, group_df in grouped:
    first_date = group_df['data_venda'].apply(is_date).idxmax()
    matching_date = transactions.loc[first_date, 'data_venda']
    
    transactions.loc[transactions['venda'] == group_name, 'data_venda'] = matching_date

In [135]:
# Agrupar o DataFrame pela coluna 'venda'
grouped = transactions.groupby('venda')

# Para cada grupo, encontrar a primeira data na coluna "data_recebimento" e atualizar todas as linhas do grupo
for group_name, group_df in grouped:
    first_date_recebimento = group_df['data_recebimento'].apply(is_date).idxmax()
    matching_date = transactions.loc[first_date_recebimento, 'data_recebimento']
    
    transactions.loc[transactions['venda'] == group_name, 'data_recebimento'] = matching_date

In [137]:
# Agrupando as linhas com base na coluna 'venda'
grouped_transactions = transactions.groupby('venda')

# Preenchendo os valores nulos na coluna 'Vendedor' com o primeiro valor não nulo encontrado dentro do grupo
transactions['Vendedor'] = grouped_transactions['Vendedor'].transform(lambda x: x.ffill().bfill())